.customer-button {
  border-radius: 0px;
  border: 0px;
  padding-right: 200px;
  font-size: 25px;
}

.tech-button {
  border-radius: 0px;
  border: 0px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 25px;
}

.billing-button {
  border-radius: 0px;
  border: 0px;
  padding-left: 200px;
  font-size: 25px;
}
